html {
  margin: 0 auto !important;
  width: 100%;
}

@media screen and (max-width: 414px) {
  html {
    min-width: 414px;
  }
}

body {
  font-size: 16px;
  font-family: 'Hiragino Mincho Pro',serif;
  position: relative;
  background-color: #fff;
  word-break: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    max-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
  }
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

header .wrapper {
  width: 100%;
  height: 130px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .wrapper .menu-trigger {
  position: absolute;
  top: 0;
  left: 5%;
  display: inline-block;
  width: 70px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  z-index: 150;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  header .wrapper .menu-trigger {
    left: 0;
  }
}

header .wrapper .menu-trigger .trigger {
  width: 50px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

header .wrapper .menu-trigger .trigger span {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

header .wrapper .menu-trigger .trigger span:nth-of-type(1) {
  top: 0;
}

header .wrapper .menu-trigger .trigger span:nth-of-type(2) {
  top: 12px;
}

header .wrapper .menu-trigger .trigger span:nth-of-type(3) {
  bottom: 0;
}

header .wrapper .active span {
  background-color: #fff;
}

header .wrapper .active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

header .wrapper .active span:nth-of-type(2) {
  opacity: 0;
}

header .wrapper .active span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
          transform: translateY(-12px) rotate(45deg);
}

header .wrapper nav {
  width: 100%;
  height: 420px;
  background-color: #000;
  position: relative;
  z-index: 100;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .wrapper nav ul {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
}

header .wrapper nav ul li {
  color: #fff;
  width: 100%;
  height: 70px;
  border-top: 1px solid #fff;
}

header .wrapper nav ul li a {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 16px;
  line-height: 26px;
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .open {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: fixed;
}

header .wrapper .open ul {
  display: block;
}

header .wrapper .header-right {
  position: absolute;
  top: 0;
  right: 5%;
  width: 600px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right {
    width: 100%;
    right: 0;
  }
}

header .wrapper .header-right h1 {
  height: 70px;
  line-height: 70px;
  font-weight: bold;
  font-size: 38px;
  color: #fff;
  position: relative;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right h1 {
    background-color: #000;
    font-size: 20px;
    text-align: center;
    width: 100%;
    right: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  header .wrapper .header-right h1 {
    background-color: #000;
    font-size: 15px;
    text-align: center;
    width: 100%;
    right: 0;
  }
}

header .wrapper .header-right h1 .facebook {
  position: absolute;
  top: 0;
  right: 5%;
}

header .wrapper .header-right h1 .facebook a {
  color: #fff;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right h1 .facebook a {
    margin: 0 20px 0 0;
  }
}

header .wrapper .header-right h1 .instagram {
  position: absolute;
  top: 0;
  right: 0;
}

header .wrapper .header-right h1 .instagram a {
  color: #fff;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right h1 .instagram a {
    margin: 0 10px;
  }
}

header .wrapper .header-right .sub-title {
  font-size: 18px;
  z-index: 80;
  position: relative;
  color: #fff;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right .sub-title {
    font-size: 40px;
    margin: 50px 0 0 20px;
    width: 80%;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  header .wrapper .header-right .sub-title {
    font-size: 40px;
    margin: 50px 0 0 20px;
    width: 80%;
  }
}

header .wrapper .header-right .title-text {
  margin-top: 10px;
  font-size: 16px;
  z-index: 80;
  position: relative;
  color: #fff;
  opacity: .8;
}

@media screen and (max-width: 768px) {
  header .wrapper .header-right .title-text {
    font-size: 20px;
    margin: 50px 0 0 20px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  header .wrapper .header-right .title-text {
    font-size: 20px;
    margin: 50px 0 0 20px;
    width: 90%;
  }
}

footer {
  position: absolute;
  top: 2350px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    top: 2900px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  footer {
    top: 4200px;
  }
}

footer .footer-bar {
  background-color: #000;
  height: 50px;
}

footer .footer-bar ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) {
  footer .footer-bar ul {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer .footer-bar ul li a {
  color: #fff;
  font-size: 18px;
}

@media screen and (max-width: 414px) {
  footer .footer-bar ul li a {
    font-size: 12px;
  }
}

footer .footer-bottom {
  text-align: center;
  font-size: 15px;
  color: #6E6E6E;
  margin-bottom: 30px;
}

footer .footer-bottom .copyright {
  margin: 10px 0 20px 0;
}

@media screen and (max-width: 414px) {
  footer .footer-bottom .copyright {
    font-size: 12px;
  }
}

footer .footer-bottom .footer-text {
  margin: 15px 0;
  line-height: 20px;
}

@media screen and (max-width: 414px) {
  footer .footer-bottom .footer-text {
    font-size: 12px;
  }
}

main {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../image/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  width: 100%;
}

.menu {
  position: absolute;
  top: 650px;
  height: 500px;
}

.menu .menu-title {
  height: 150px;
  position: relative;
}

.menu .menu-title h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  font-size: 35px;
  margin-top: 40px;
}

.menu .menu-title a {
  position: absolute;
  top: 40%;
  right: 0;
  margin-top: 40px;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .menu .menu-title a {
    top: 60%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 50%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-title a {
    display: none;
  }
}

.menu .menu-title a p {
  text-align: center;
  width: 100%;
}

.menu .menu-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu .menu-items {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu .menu-items .menu-item1 .menu-image {
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item1 .menu-image {
    height: 50%;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item1 .menu-image {
    height: 70%;
  }
}

.menu .menu-items .menu-item1 .menu-image img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu-items .menu-item1 .menu-text {
  width: 90%;
  line-height: 25px;
  margin-left: auto;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item1 .menu-text {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item1 .menu-text {
    margin: 30px auto 50px auto;
  }
}

.menu .menu-items .menu-item1 .menu-text p {
  width: 90%;
  margin-left: auto;
}

@media screen and (max-width: 414px) {
  .menu .menu-items .menu-item1 .menu-text p {
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .menu .menu-items .menu-item2 {
    margin-top: 40px;
  }
}

.menu .menu-items .menu-item2 .menu-image {
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item2 .menu-image {
    height: 50%;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item2 .menu-image {
    height: 70%;
  }
}

.menu .menu-items .menu-item2 .menu-image img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu-items .menu-item2 .menu-text {
  width: 100%;
  line-height: 25px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item2 .menu-text {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item2 .menu-text {
    margin: 30px auto 50px auto;
  }
}

.menu .menu-items .menu-item2 .menu-text p {
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 414px) {
  .menu .menu-items .menu-item2 .menu-text p {
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .menu .menu-items .menu-item3 {
    margin-top: 40px;
  }
}

.menu .menu-items .menu-item3 .menu-image {
  width: 100%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item3 .menu-image {
    height: 50%;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item3 .menu-image {
    height: 70%;
  }
}

.menu .menu-items .menu-item3 .menu-image img {
  vertical-align: top;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu .menu-items .menu-item3 .menu-text {
  width: 90%;
  line-height: 25px;
  margin-right: auto;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .menu .menu-items .menu-item3 .menu-text {
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .menu .menu-items .menu-item3 .menu-text {
    margin: 30px auto 50px auto;
  }
}

.menu .menu-items .menu-item3 .menu-text p {
  width: 90%;
  margin-right: auto;
}

@media screen and (max-width: 414px) {
  .menu .menu-items .menu-item3 .menu-text p {
    margin: 0 auto;
  }
}

.menu .phone-view-more {
  display: none;
  width: 95%;
  text-align: right;
}

@media screen and (max-width: 414px) {
  .menu .phone-view-more {
    display: inline-block;
    margin-top: 35px;
  }
}

.restaurant {
  position: absolute;
  top: 1150px;
  height: 600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .restaurant {
    top: 1200px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .restaurant {
    top: 2100px;
  }
}

.restaurant .restaurant-title {
  height: 150px;
  position: relative;
}

.restaurant .restaurant-title h2 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  font-size: 35px;
  margin-top: 40px;
}

.restaurant .restaurant-title a {
  position: absolute;
  top: 40%;
  right: 0;
  margin-top: 40px;
  margin-right: 50px;
}

@media screen and (max-width: 768px) {
  .restaurant .restaurant-title a {
    top: 60%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 50%;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .restaurant .restaurant-title a {
    display: none;
  }
}

.restaurant .restaurant-title a p {
  text-align: center;
  width: 100%;
}

.restaurant .restaurant-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
}

@media screen and (max-width: 768px) {
  .restaurant .restaurant-items {
    display: none;
  }
}

.restaurant .restaurant-items .restaurant-text1 {
  width: 20%;
  margin-right: 20px;
}

.restaurant .restaurant-items .restaurant-text1 p {
  width: 100%;
  line-height: 25px;
}

.restaurant .restaurant-items .restaurant-image {
  width: 22%;
  height: 100%;
}

.restaurant .restaurant-items .restaurant-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant .restaurant-items .restaurant-text2 {
  width: 20%;
  margin-left: 20px;
}

.restaurant .restaurant-items .restaurant-text2 p {
  width: 100%;
  line-height: 25px;
}

.restaurant .restaurant-items-tab {
  display: none;
}

@media screen and (max-width: 768px) {
  .restaurant .restaurant-items-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .restaurant .restaurant-items-tab {
    display: none;
  }
}

.restaurant .restaurant-items-tab .restaurant-item .restaurant-text {
  width: 90%;
  margin: 0 auto;
}

.restaurant .restaurant-items-tab .restaurant-item .restaurant-text p {
  line-height: 20px;
}

.restaurant .restaurant-items-phone {
  display: none;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .restaurant .restaurant-items-phone {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .restaurant .restaurant-items-phone {
    display: inline-block;
  }
}

.restaurant .restaurant-items-phone .restaurant-text {
  width: 90%;
  line-height: 25px;
  margin: 20px auto 40px auto;
}

.restaurant .restaurant-items-phone .restaurant-text p {
  margin: 0 auto;
  width: 90%;
}

.restaurant .phone-view-more {
  display: none;
  width: 95%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .restaurant .phone-view-more {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .restaurant .phone-view-more {
    display: inline-block;
    margin-top: 10px;
  }
}

.access {
  position: absolute;
  top: 1600px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .access {
    top: 1900px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .access {
    top: 3300px;
  }
}

.access h2 {
  font-size: 35px;
  text-align: center;
}

.access .adress {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .access .adress {
    display: none;
  }
}

.access .adress-tab {
  display: none;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
  .access .adress-tab {
    display: inline-block;
    line-height: 20px;
  }
}

.access a {
  margin: 0 auto;
  width: 40%;
  color: #000;
  position: relative;
  font-size: 18px;
  display: block;
  padding: 20px;
  text-align: center;
  border: solid 1px #000;
  font-weight: bold;
  letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
  .access a {
    width: 50%;
  }
}

.reserve {
  position: absolute;
  top: 1900px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .reserve {
    top: 2300px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .reserve {
    top: 3650px;
  }
}

.reserve h2 {
  font-size: 35px;
  text-align: center;
}

.reserve .reserve-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .reserve .reserve-items {
    display: inline-block;
  }
}

.reserve .reserve-items .tel {
  font-size: 25px;
  font-weight: bold;
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .reserve .reserve-items .tel {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px 0 30px 0;
  }
}

.reserve .reserve-items a {
  width: 20%;
  color: #000;
  position: relative;
  font-size: 15px;
  display: block;
  padding: 20px 0;
  text-align: center;
  border: solid 1px #000;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .reserve .reserve-items a {
    width: 60%;
    margin: 0 auto;
  }
}

.operating-hours {
  position: absolute;
  top: 2150px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .operating-hours {
    top: 2700px;
  }
}

@media screen and (max-width: 768px) and (max-width: 414px) {
  .operating-hours {
    top: 3980px;
  }
}

.operating-hours h2 {
  font-size: 35px;
  text-align: center;
}

.operating-hours .operating-text {
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .operating-hours .operating-text {
    display: none;
  }
}

.operating-hours .operating-text strong {
  font-weight: bold;
}

.operating-hours .operating-text-tab {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  line-height: 20px;
}

@media screen and (max-width: 414px) {
  .operating-hours .operating-text-tab {
    display: inline-block;
  }
}

.operating-hours .operating-text-tab strong {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */